body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.row__1 {
  align-items: baseline;
  align-self: start;
}

.row__2 {
  justify-content: space-between;
  align-items: flex-end;
  align-self: end;
}